.simple-nav a {
  margin-right: 12px;
  padding-right: 12px;
  border-right: 1px solid #4a5a68;
  text-decoration: none;
}

.simple-nav a:last-child {
  border-right: none;
}

.sticky-table table {
    display: flex;
    border-collapse: separate;
    border-spacing: 0;      /* keeps normal table layout */
    width: 100%;
    font-family: monospace; 
    margin-left: auto;
    margin-right: auto;
    justify-content: center; 
    overflow-x: auto;
   -webkit-overflow-scrolling: touch;
   table-layout: auto;      /* lets columns shrink */
   word-wrap: break-word;   
}

.custom-inner {
  position: relative;
  max-width: 800px;
  padding: 20px 10px;
  margin: 0 auto;
}

.sticky-table th,
.sticky-table td {
    padding: 6px 8px;
}

.sticky-table th {
    position: sticky;
    top: 0;
    box-shadow: 2px 0 5px -2px rgba(0,0,0,0.2);
    z-index: 2;
    border-right: 1px solid #ccc;
}

.sticky-table th:last-child {
    border-right: none;             /* keep right edge clean */
}