.simple-nav a {
  margin-right: 12px;
  padding-right: 12px;
  border-right: 1px solid #4a5a68;
  text-decoration: none;
}

.simple-nav a:last-child {
  border-right: none;
}

.table-responsive {
  width: 100%;
  overflow-x: auto; /* horizontal scroll if table is too wide */
  -webkit-overflow-scrolling: touch; /* smooth scrolling on iOS */
}

/* Freeze first column */
th:first-child,
td:first-child {
  position: sticky;
  left: 0;
  z-index: 2;
  box-shadow: 2px 0 5px -2px rgba(0,0,0,0.2); /* optional shadow */
}

/* Freeze header row */
thead th {
  position: sticky;
  top: 0;
  z-index: 3;
}

.inner_custom {
  position: relative;
  width: 80%;
  padding: 20px 10px;
  margin: 0 auto;
  overflow: auto;
}

.container {
  display: flex;
  flex-direction: column; /* Stacks elements vertically */
  align-items: stretch; /* Makes flex items fill the container's width */
}
